---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: ghcr.io/nthings/grocerynfc:v0.0.1
          env:
            - name: POSTGRES_DB
              value: grocerynfc
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-password
                  key: password
            - name: POSTGRES_HOST
              value: db
          ports:
            - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: app
spec:
  selector:
    app: app
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
---
apiVersion: v1
kind: Secret
metadata:
  name: authsecret
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: basic-auth
data:
  {}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: authmiddleware
spec:
  basicAuth:
    secret: authsecret
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ingressroute
spec:
  entryPoints:
    - http
  routes:
  - match: Host(`nthings-server.duckdns.org`) && PathPrefix(`/grocerynfc`)
    kind: Rule
    services:
    - name: app
      port: 8000
    middlewares:
    - name: authmiddleware
      namespace: grocerynfc